.category_blk{
    background-color:  hsla(215, 57%, 24%, 0.83);
}

.category{
    color:#BFA459;
}

.cate_bread{
    padding-left: 20px;
    /* border: 1px solid red; */
    max-width: 1200px;
    position: relative;
    top: -180px;
    margin: 0 auto;
}

.cate_bread ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.cate_bread ul li a{
    color: #D3E0E8;
    font-size: 1.6rem;
    text-decoration: none;
}
.cate_bread li:last-child a{
    color: #BFA459;
}
.cate_bread li{
    margin-left: 10px;
}
.cate_bread ul li::before{
    content: "/";
    font-size:1.6rem;
    color: #D3E0E8;
    margin-right: 10px;
}
.cate_bread li:nth-child(1)::before {
    display: none;
}
@media (max-width:991.98px){
    .cate_bread{
        padding-right:20px;
        top:0px;
    }
    .cate_bread ul{
        justify-content:flex-end;

    }
    .cate_bread ul li a{
        font-size: 1.4rem;
    }
}
@media (max-width:767.98px){
    .cate_bread li{
        margin-left: 5px;
    }
    .cate_bread ul li:first-child a{
        display: none;
    }
    .cate_bread ul li:nth-child(2)::before{
        display:none;
    }
}
@media (max-width:575.98px){
    .cate_bread ul li{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
    }
    .cate_bread ul li a{
        font-size: 1.2rem;
    }
    .cate_bread{
        top:10px;
    }
    .cate_bread ul{
        justify-content:center;
    }
}


/** container  */
.container{
    display: flex;
    flex-shrink: 0;
    margin: 0 auto;
    width:100%;
    max-width: 1200px;
    /* border: 1px solid red; */
}
/** nav  */
.navbar{
    /* border: 1px solid blue; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    color: #D3E0E8;
    font-size: 1.6rem;
}

.select li{
    list-style: none;
}
.select{
    /* border: 1px solid yellow; */
    padding-left: 45px;
}
.title{
    font-size: 1.8rem;
    font-weight: bold;
}
.line{
    display: inline-block;
    border-top: 2px solid #D3E0E8;
    width: 200px;
    margin: 0px auto 30px auto;
    
}
#clothing-toggle ,#accessories-toggle,#home-life-toggle {
    display: none;
}
.clothing label,.accessories label,.home_life label{
    cursor: pointer;
}
.clothing,.accessories, .home_life{
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 40px;
}
.clothing_link a,.home_life_link a, .accessories_link a{
    border-bottom: 1px dotted #D3E0E8;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #D3E0E8;
    transition: .3s;
}
.clothing_link a:hover,.home_life_link a:hover, .accessories_link a:hover{
    /* background-color: #1A3760; */
    color: #BFA459;
}

.clothing_link {
    /* border: 1px solid red; */
    /* border-radius: 10px; */
    text-align: center;
    overflow: hidden;
    max-height: 0;
    padding:0;
    top: 10px;
    left: 20px;
    transition: all 0.3s ease;
    z-index: 1;
}
.accessories_link {
    /* border-radius: 10px; */
    text-align: center;
    overflow: hidden;
    max-height: 0;
    padding:0;
    top: 10px;
    left: 20px;
    transition: all 0.3s ease;
    z-index: 1;
}
.home_life_link {
    /* border-radius: 10px; */
    text-align: center;
    overflow: hidden;
    max-height: 0;
    padding:0;
    top: 10px;
    left: 20px;
    transition: all 0.3s ease;
    z-index: 1;
}
#clothing-toggle:checked + .clothing_link{
    max-height: 120px;
}
#accessories-toggle:checked + .accessories_link{
    max-height: 120px;
}
#home-life-toggle:checked + .home_life_link{
    max-height: 120px;
}
.brands_link {
    padding:0;
    /* border: 1px solid yellow; */
    flex-direction: column;
}
.brands_link ul {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.brands_link li {
    /* border: 1px solid red; */
    margin-bottom: 40px;
}
.brands_link li a{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #D3E0E8;
    display: inline-block;
    transition: .3s;
}
.brands_link li a:hover{
    color: #bfa459;
    transform: scale(1.2)
}
@media (max-width:991.78px){
    .navbar{
        /* border: 1px solid blue; */
        display: flex;
    }
    .title{
        font-size: 1.6rem;
    }
    .select{
        /* border: 1px solid yellow; */
        padding:0 5px 0 10px;
    }
    .line{
        border-top: 2px solid #D3E0E8;
        width: 145px;
        margin: 0px auto 30px auto;
    }
    .clothing,.accessories, .home_life{
        position: relative;
        /* border: 1px solid red; */
        margin-bottom: 40px;
        font-size:1.6rem;
        width:100%;
    }
}
@media (max-width:767.78px){
    .navbar{
        display:none;
    }
}
/** product */


.prd_items12,.prd_items16,.prd_items24{
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 100%;
    display: none;
    flex-wrap: wrap;
    flex-shrink: 0;
    /* justify-content: space-between; */
}
.prd_items12 a,.prd_items16 a,.prd_items24 a{
    text-decoration: none;
    color: #D3E0E8;
}
.prd_items12 .product_card{
    width: 240px;
    padding: 0;
    text-align: center;
    /* margin: 20px 20px; */
    font-size: 0;
    transition: .5s;
    margin:20px 30px;
}
.prd_items16 .product_card,.prd_items24 .product_card{
    width: 180px;
    padding: 0;
    margin: 20px 20px;
    font-size: 0;
    transition: .5s;
}
.prd_items12 .product_card img{
    width: 240px;
}
.prd_items16 .product_card img,.prd_items24 .product_card img{
    width: 180px;
}

.product_card a{
    font-size: 0;
}
.product_card p{
    padding: 20px 0;
    background-color: hsla(215, 57%, 24%, 0.83);
    padding: 10px 10px;
    /* border: 1px solid red; */
}
.product_card:hover{
    opacity: .5;
}
.prd_items12 .prd_date{
    font-size: 1.6rem;
}
.prd_items16 .prd_date,.prd_items24 .prd_date{
    font-size: 1.4rem;
}
.prd_items12 .prd_name{
    font-size: 1.6rem;
}
.prd_items16 .prd_name,.prd_items24 .prd_name{
    font-size: 1.4rem;
}
.-on{
    display: flex;
}
@media (max-width:1149.98px){
    .prd_items12 .product_card{
        width: 240px;
        padding: 0;
        text-align: center;
        /* margin: 20px 20px; */
        font-size: 0;
        transition: .5s;
        margin:20px auto;
    }
    .prd_items12 .product_card img{
        width: 240px;
    }
}
@media (max-width:991.98px){
    .prd_items12 .product_card{
        width: 220px;
    }
    .prd_items12 .product_card img{
        width: 220px;
    }
}
@media (max-width:767.98px){
    .prd_items12 .product_card{
        width: 200px;
    }
    .prd_items12 .product_card img{
        width: 200px;
    }
}
@media (max-width:575.98px){
    .prd_items12 .product_card{
        width: 160px;
        /* height: 800px; */

    }
    .prd_items12 .product_card img{
        width: 160px;
    }
}
/** pagination  */
.pagination{
    /* border: 1px solid red; */
    margin: 60px auto 20px auto;
    max-width: var(--page-width);
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    /* background-color: #D3E0E8; */
}
.pagination_list{
    list-style: none;
    padding: 0;
    position: relative;
    width: 500px;
    height: 50px;
    /* border: 1px solid red; */
    margin-right: 67px;
    /* margin-left: 100px; */
    /* background-color: #D3E0E8; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.pagination_list li{
    /* border: 1px solid red; */
    margin: 0 5px;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    background-color: hsla(215, 57%, 42%, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    color: #D3E0E8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
                ,inset0 2px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}
.pagination_list li:hover{
    background-color: #bfa459;
    color: #1A3760;
}
.pagination_list li.focus{
    background-color: #bfa459;
    color: #1A3760;
}
@media(max-width:767.98px){
    .pagination{
        /* border: 1px solid red; */
        margin: 20px auto;
        justify-content: center;
        align-items: center;
    }
    .pagination_list{
        margin:0px;
        /* margin-left: 100px; */
        /* background-color: #D3E0E8; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/** table  */
.table{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin: 0 auto 20px auto;
    max-width: 1130px;
}

.table label{
    /* border: 1px solid red; */
    color: hsla(203, 31%, 87%, .6);
    margin: 0px 10px;
    padding: 0;
    cursor: pointer;
}
.table input{
    display: none;
}
.table input[type="radio"]:checked+label{
    color:hsla(44, 44%, 55%, .9);
    /* background-color: #D3E0E8; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* border: 1px solid red; */
    transform: scale(1.3);
    transition: .5s;
}

@media (max-width:991.98px){
    .table{
        display: none;
    }
}

.loading-wrapper{
    padding: 0;
    margin: 0;
    position: relative;
    /* border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(26,55,96,.5) 0%, rgba(14,23,43,.5) 100%);
    z-index: 999;
}